---
import BottomLayout from "../../astro/layouts/BottomLayout.astro";
import PageLayout from "../../astro/layouts/PageLayout.astro";
import TopLayout from "../../astro/layouts/TopLayout.astro";
import {Hashnode} from "../../hashnode";

export const prerender = false;
const {slug} = Astro.params;
const post = await Hashnode.getPost(slug)
if (!post) return Astro.redirect("/404")
---

<PageLayout title={post.title} description={post.brief}>
  <TopLayout>
    <div class="animate">
      <!--<ArticleTopLayout entry={post}/>-->
    </div>
  </TopLayout>
<Fragment set:html={post.content.html}/>
  <BottomLayout>
    <div class="animate">
      <!--<ArticleBottomLayout entry={post} />-->
    </div>
  </BottomLayout>
</PageLayout>