---
import { Hashnode } from '../../hashnode'

export const prerender = false

const { slug } = Astro.params
const post = await Hashnode.getPost(slug)

if (!post) return Astro.redirect('/404')

import { chain } from '@hashnode/markdown'
import BackToPrevious from '@ui/astro/components/navigation/BackToPrevious.astro'
import BlogHero from '@ui/astro/layouts/BlogHero.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import GradientText from 'src/ui/astro/components/elements/GradientText.astro'
import Container from '../../ui/astro/components/global/Container.astro'

const html = chain.process(post.content.markdown)
---

<style is:global>
    @media screen and (min-width: 600px) {
        .inline-float-right {
            float: right;
            width: 60%;
            margin-left: 1.5rem;
            margin-right: 0;
        }

        .inline-float-left {
            float: left;
            width: 60%;
            margin-right: 1.5rem;
            margin-left: 0;
        }

        .inline-small {
            padding: 1rem 20%;
        }
    }
</style>

<Layout title={post.title} description={post.brief} kind="post">
    <div slot="before" class="p-2">
        <GradientText class="text-4xl" color="neutral"
            >Alex Whiteside</GradientText
        >
    </div>
    <div slot="title">
        <BackToPrevious href="/blog">Back to blog</BackToPrevious>
    </div>
    <Container background>
        <div class="relative animate mb-8 -mx-2 -mt-16">
            <BlogHero
                title={post.title}
                date={post.publishedAt}
                coverImage={post.coverImage!.url}
            />
        </div>
        <article class="animate mx-4">
            <Fragment set:html={html} />
        </article>
    </Container>
</Layout>
