---
import { Hashnode } from '../../hashnode'

export const prerender = false

const { slug } = Astro.params
const post = await Hashnode.getPost(slug)

if (!post) return Astro.redirect('/404')

import BackToPrevious from '@ui/astro/components/navigation/BackToPrevious.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import Container from '../../ui/astro/components/global/Container.astro'
import BlogHero from '@ui/astro/layouts/BlogHero.astro'
Astro.response.headers.set("Cache-Control", "public, max-age=0, must-revalidate");

---

<Layout title={post.title} description={post.brief}>
    <Container>
        <div class="relative animate mb-8">
           
            <BlogHero
                title={post.title}
                date={post.publishedAt}
                coverImage={post.coverImage!.url}
            /> 
            <div class="absolute top-6 left-6 hidden md:block">
                <BackToPrevious href="/blog">Back to blog</BackToPrevious>
            </div>
        </div>
        <!--{headings.length > 0 && <TableOfContents headings={headings} />}-->
        <article class="animate ">
            <Fragment set:html={post.content.html} />
        </article>
    </Container>
</Layout>
