---
import { Hashnode } from '../../hashnode'

export const prerender = false

const { slug } = Astro.params
const post = await Hashnode.getPost(slug)

if (!post) return Astro.redirect('/404')

import { chain } from '@hashnode/markdown'
import BackToPrevious from '@ui/astro/components/navigation/BackToPrevious.astro'
import BlogHero from '@ui/astro/layouts/BlogHero.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import Container from '../../ui/astro/components/global/Container.astro'

const html = chain.process(post.content.markdown)
---

<style is:global>
    @media screen and (min-width: 600px) {
        .inline-float-right {
            float: right;
            width: 60%;
            margin-left: 1.5rem;
            margin-right: 0;
        }

        .inline-float-left {
            float: left;
            width: 60%;
            margin-right: 1.5rem;
            margin-left: 0;
        }

        .inline-small {
            padding: 1rem 20%;
        }
    }
</style>

<Layout title={post.title} description={post.brief}>
    <Container background>
        <div class="relative animate mb-8 mx-2 -mt-16">
            <BlogHero
                title={post.title}
                date={post.publishedAt}
                coverImage={post.coverImage!.url}
            />
            <div class="absolute top-6 left-6 hidden md:block">
                <BackToPrevious href="/blog">Back to blog</BackToPrevious>
            </div>
        </div>
        <article
            class="animate mx-4 bg-gradient-to-r from-white/[0.5] to-white/[0.5]"
        >
            <Fragment set:html={html} />
        </article>
    </Container>
</Layout>
