---
export const prerender = false;

import { getCollection } from "astro:content";
import Blog from "@components/Blog";
import { BLOG } from "@consts";
import BottomLayout from "../../astro/layouts/BottomLayout.astro";
import PageLayout from "../../astro/layouts/PageLayout.astro";
import TopLayout from "../../astro/layouts/TopLayout.astro";
import {Hashnode} from "../../hashnode";
import {LampDemo}from '../../aceturnity/lamp'

const out =  await Hashnode.getPosts()
debugger;
const tags = [] as string[];
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {BLOG.TITLE}
    </div>
  </TopLayout>
  <LampDemo client:load ></LampDemo>
  <BottomLayout>
    <div class="animate">
      <Blog client:load tags={tags} data={out} />
    </div>
  </BottomLayout>
</PageLayout>


