---
import { getStarredReposByLanguage } from '@github/getRepos'
import Flat from './Flat.astro'
import RepoList from './RepoList.astro'
const groups = await getStarredReposByLanguage()
---

<script is:inline data-astro-rerun>
    requestAnimationFrame(() => {
        const animates = document.getElementsByClassName('animate')
        for (const animate of animates) {
            animate.classList.add('show')
        }
    })
</script>

{
    groups.map((group) => {
        const language = group.language.toLowerCase()
        const icon = `https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${language}/${language}-original.svg`

        return (
            <Flat>
                <div class="animate">
                    <div class="mx-auto flex items-center justify-between gap-x-8 lg:mx-0">
                        <div class="flex items-center gap-x-6">
                            <img
                                src={icon}
                                alt=""
                                class="h-16 w-16 flex-none"
                            />
                            <h1>
                                <div class="mb-1 text-lg font-semibold leading-6 ">
                                    {group.language}
                                </div>
                                <div class="text-sm">
                                    {group.repos.length} Repositories
                                </div>
                            </h1>
                        </div>
                        <div class="flex items-center gap-x-4 sm:gap-x-6">
                            <a
                                type="button"
                                target="_blank"
                                href={`https://github.com/awhiteside1?tab=stars&language=${group.language}`}
                                class=" text-sm font-semibold  p-3 text-gray-900 transition hover:bg-gray-100 bg-white shadow-inner shadow-gray-300 rounded-lg">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="animate">
                    <RepoList starredRepos={group.repos} />
                </div>
            </Flat>
        )
    })
}
