---
import type {PostItem} from "../../../hashnode/queries";
import {cn} from "@ui/utils/cn";

type Props = {
  entry:PostItem
};

const { entry } = Astro.props

// @todo: Decide if i hate this more than it all being on one line and in the markup
const container = "not-prose group relative flex flex-nowrap"
const fades ="transition-colors duration-300 ease-in-out"
const border = "border border-black/15 dark:border-white/20"
const selectableLight = "bg-white  hover:bg-gray-200/50 hover:text-black focus-visible:bg-gray-200/50 focus-visible:text-black "
const selectableDark = "dark:bg-black dark:hover:bg-gray-700/50 dark:hover:text-white dark:focus-visible:bg-gray-200/50 dark:focus-visible:text-white"
const rounded = "rounded-lg px-4 py-3"
const selectable = cn(fades, selectableLight, selectableDark)
const card = cn(container, border,rounded)

---

<a
  href={`/blog/${entry.slug}`}
  class={cn(card, selectable, "pr-10")}
>
  <div class="flex flex-1 flex-col truncate">
    <div class="font-semibold">
      {entry.title}
    </div>
    <div class="text-sm text-wrap">
      {entry.brief}
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
    ></polyline>
  </svg>
</a>
