---
import Layout from '@ui/astro/layouts/Layout.astro'
import Container from '../ui/astro/components/Container.astro'
import Link from '../ui/astro/components/Link.astro'
import BentoGrid from '../ui/astro/components/bento/BentoGrid.astro'
import BentoGridItem from '../ui/astro/components/bento/BentoGridItem.astro'
import Badge from '../ui/astro/components/elements/Badge.astro'
import GradientText from '../ui/astro/components/elements/GradientText.astro'
import Prose from '@ui/astro/components/Prose.astro'
import Social from '@ui/astro/sections/Social.astro'
import { getCollection } from 'astro:content'
import { byNumber } from '@ui/utils/interval'
import MdxSection from '@ui/astro/sections/MdxSection.astro'

const titles = (await getCollection('titles')).toSorted(byNumber(title=>title.data.order))
---

<Layout
    title="Software Architect, Entrepreneur, Creative"
    description="Experienced software architect, entrepreneur, and creator with over 10 years bringing products from 0 to 1 and beyond in edtech, fintech, and B2B. "
>
    <Container>
        <div class="space-y-6">
            <!--<h1 class="animate text-6xl font-bold from-gray-400 to-gray-950 bg-gradient-to-br text-transparent bg-clip-text bg-300%">-->
           <div class="space-y-2">
                <GradientText color="neutral"  size={6}>
                Alex Whiteside
            </GradientText>
            <ul class="flex flex-row gap-2 animate">
                {
                    titles.map((title) => (
                        <Badge color={title.data.color} text={title.data.title} className={title.data.className}>
                                <p class="text-sm font-medium">{title.data.short}</p>
                        </Badge>
                    ))
                }
            </ul>
        </div>
            <div class="space-y-16">
                <section>
                    <article class="space-y-6 animate">
                        <span class="">
                            <MdxSection page="home" name="intro" className='text-lg' />
                        </span>
                    </article>
                    <Social />

                </section>
                <section class="space-y-6 animate">
                    <div
                        class="flex flex-wrap items-center justify-between gap-y-2"
                    >
                        <h2 class="font-semibold text-black dark:text-white">
                            Latest posts
                        </h2>
                        <Link href="/blog"> See all posts</Link>
                    </div>
                </section>

                <section class="space-y-6 animate">
                    <BentoGrid>
                        <BentoGridItem
                            title="Something New"
                            description="The quick brown fox"
                        >
                            <div
                                class="flex flex-1 w-full h-full min-h-[6rem] dark:bg-dot-white/[0.2] rounded-lg bg-dot-black/[0.2] flex-col space-y-2"
                                style={{
                                    background:
                                        'linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)',
                                    backgroundSize: '400% 400%',
                                }}
                            >
                                <div class="h-full w-full rounded-lg"></div>
                            </div>
                        </BentoGridItem>
                        <BentoGridItem
                            title="Bad and Younge"
                            description="The quick brown fox"
                        >
                            <div
                                class="flex flex-1 w-full h-full min-h-[6rem] dark:bg-dot-white/[0.2] rounded-lg bg-dot-black/[0.2] flex-col space-y-2"
                                style={{
                                    background:
                                        'linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)',
                                    backgroundSize: '400% 400%',
                                }}
                            >
                                <div class="h-full w-full rounded-lg"></div>
                            </div>
                        </BentoGridItem>
                        <BentoGridItem
                            title="An Old  New"
                            description="The quick brown fox"
                        >
                            <div
                                class="flex flex-1 w-full h-full min-h-[6rem] dark:bg-dot-white/[0.2] rounded-lg bg-dot-black/[0.2] flex-col space-y-2"
                                style={{
                                    background:
                                        'linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)',
                                    backgroundSize: '400% 400%',
                                }}
                            >
                                <div class="h-full w-full rounded-lg"></div>
                            </div>
                        </BentoGridItem>
                    </BentoGrid>
                </section>
                <section class="space-y-6">
                    <div
                        class="flex flex-wrap items-center justify-between gap-y-2"
                    >
                        <h2 class="font-semibold text-black dark:text-white">
                            Recent projects
                        </h2>
                        <Link href="/projects"> See all projects</Link>
                    </div>
                    <!--<ul class="not-prose flex flex-col gap-4">-->
                    <!--  {-->
                    <!--    projects.map((project) => (-->
                    <!--      <li>-->
                    <!--        <ArrowCard entry={project} />-->
                    <!--      </li>-->
                    <!--    ))-->
                    <!--  }-->
                    <!--</ul>-->
                </section>

                <section class="animate space-y-4">
                    <h2 class="font-semibold text-black dark:text-white">
                        Let's Connect
                    </h2>
                    <article>
                        <p>
                            "Luck is the residue of design"
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </Container>
</Layout>
