---
import { getCollection } from 'astro:content'
import MdxSection from '@ui/astro/components/mdx/MdxSection.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import Social from '@ui/astro/sections/Social.astro'
import { byNumber } from '@ui/utils/interval'
import BentoGrid from '../ui/astro/components/bento/BentoGrid.astro'
import BentoGridItem from '../ui/astro/components/bento/BentoGridItem.astro'
import Badge from '../ui/astro/components/elements/Badge.astro'
import GradientText from '../ui/astro/components/elements/GradientText.astro'
import Container from '../ui/astro/components/global/Container.astro'
import Link from '../ui/astro/components/text/Link.astro'
import { Hashnode } from '@hashnode'
import Square from '@ui/astro/components/bento/Square.astro'
import { shuffle } from 'radash'

export const prerender = false

const titles = (await getCollection('titles')).toSorted(
    byNumber((title) => title.data.order)
)

let posts = await Hashnode.getPosts()
posts=shuffle(posts).slice(0, 3)    
---

<Layout
    title="Software Architect, Entrepreneur, Creative"
    description="Experienced software architect, entrepreneur, and creator with over 10 years bringing products from 0 to 1 and beyond in edtech, fintech, and B2B. "
>
    <Container>
        <div class="space-y-6">
            <!--<h1 class="animate text-6xl font-bold from-gray-400 to-gray-950 bg-gradient-to-br text-transparent bg-clip-text bg-300%">-->
            <div class="space-y-4">
                <GradientText color="neutral" size={6}>
                    Alex Whiteside
                </GradientText>
                <ul class="flex flex-row flex-wrap gap-2">
                    {
                        titles.map((title) => (
                            <Badge
                                color={title.data.color}
                                text={title.data.title}
                                className={title.data.className}
                            >
                                <p class="text-sm font-medium">
                                    {title.data.short}
                                </p>
                            </Badge>
                        ))
                    }
                </ul>
            </div>
            <div class="space-y-16">
                <section>
                    <article class="space-y-8 animate">
                        <span class="">
                            <MdxSection page="home" name="intro" />
                        </span>
                        <Social />
                    </article>
                </section>
                <section class="space-y-6 animate">
                    <div
                        class="flex flex-wrap items-center justify-between gap-y-2"
                    >
                        <h2 class="font-semibold text-black dark:text-white">
                            Latest posts
                        </h2>
                        <Link href="/blog"> See all posts</Link>
                    </div>

                    <BentoGrid>
                        {posts.map(post => (
                        <BentoGridItem
                            title={post.title}
                            description={""}
                            url={`/blog/${post.slug}`}
                        >
                          {post.coverImage?.url ? <img src={post.coverImage.url} class="object-cover aspect-auto rounded-lg " />:  <Square/>}
                        </BentoGridItem>
                        ))}
                       
                    </BentoGrid>
                </section>

            </div>
        </div>
    </Container>
</Layout>
