---
import { cn } from '@ui/utils/cn'
import {
	hexFrontContainer,
	hexIcon,
	hexagon,
	hexagonBack,
	hexagonFront,
} from './styles'

type Props = {
	color: string
}
---

<div
    role="group"
    style={{ '--hex-color': `var(--colors-${Astro.props.color}-300)` }}
    class={cn(hexagon, 'group')}>
    <div class={hexagonBack}>
        <slot name="content" />
    </div>
    <div class={hexagonFront}>
        <div class={hexFrontContainer}>
            <div class={hexIcon}>
                <slot name="icon" />
            </div>
            <slot name="title" />
        </div>
    </div>
</div>
