---
import Title from '@components/blocks/Title.astro'
import { getSkills } from './getSkills'
import HexGrid from './HexGrid.astro'
import Skill from './SkillCover.astro'
const skills = await getSkills()
---

<div
    class="col-span-12 md:col-span-8 row-span-1 flex flex-col justify-between shadow-border col-end-[-1] relative overflow-hidden p-6"
>
    <Title text="Skills" icon="puzzle" />
    <HexGrid>
        <Skill skill={skills.architecture} />

        <Skill skill={skills.product} />
        <Skill skill={skills.web} />
        <Skill skill={skills.leadership} />
        <Skill skill={skills.delivery} />
        <!--<Skill skill={skills.architecture} />-->

        <Skill skill={skills.writing} />

        <Skill skill={skills['system-design']} />
    </HexGrid>
</div>
