---
import Title from '@components/blocks/Title.astro'
import { getSkills } from './getSkills'
import HexGrid from './HexGrid.astro'
import PlaceholderHex from './PlaceholderHex.astro'
import Skill from './SkillCover.astro'
import { hexagonRow } from './styles'

const skills = await getSkills()
---

<div
    class="col-span-12 md:col-span-8 row-span-1 flex flex-col justify-between shadow-border col-end-[-1] relative overflow-hidden px-6 py-10 md:py-6 space-y-4"
>
    <Title text="Skills" icon="puzzle" />
    <HexGrid>
        <div class={hexagonRow}>
            <PlaceholderHex angle={-45} />
            <Skill skill={skills['system-design']} />

            <Skill skill={skills.leadership} />
            <PlaceholderHex angle={45} />
        </div>
        <div class={hexagonRow}>
            <Skill skill={skills.web} />
            <Skill skill={skills.architecture} />

            <Skill skill={skills.delivery} />
        </div>
        <div class={hexagonRow}>
            <PlaceholderHex angle={-135} />
            <!--<Skill skill={skills.architecture} />-->
            <Skill skill={skills.product} />
            <Skill skill={skills.writing} />

            <PlaceholderHex angle={135} />
        </div>
    </HexGrid>
</div>
