---
import { fetchStarredRepos } from '@github/api'
import Grid from '../components/cards/grid.astro'
import SimpleCard from '../components/cards/simple.astro'
import TechIcon from '../components/elements/TechIcon.astro'
import TextBadge from '../components/elements/TextBadge.astro'

const starredRepos = await fetchStarredRepos()
---

<Grid>
    {
        starredRepos.map((repo) => (
            <SimpleCard
                subtitle={repo.description}
                url={repo.html_url}
                stars={repo.stargazers_count}
            >

                <p slot="title" class="text-md font-medium"><span class="text-gray-800">{repo.name}</span></div>
                <div slot="badges" class="flex flex-row gap-2 flex-wrap overflow-clip max-h-6">
                    <TextBadge text={repo.language} />
                    {repo.topics.map((topic) => <TextBadge color='gray' text={topic} />)}
                </div>
            </SimpleCard>
        ))
    }
</Grid>
